Source: sidux-art-wallpaper
Section: graphics
Priority: extra
Maintainer: Bernard Gray <bernard.gray@gmail.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2
XS-Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-art-wallpaper/trunk
XS-Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-art-wallpaper/trunk/

Package: sidux-art-wallpaper
Architecture: all
Depends: sidux-art-wallpaper-gaia | sidux-art-wallpaper-eros
Conflicts: sidux-art-wallpaper (<= 0.0.0)
Description: sidux wallpaper virtual package
 Depepnds on wallpaper package for current release
