Source: sidux-art-wallpaper
Section: unknown
Priority: extra
Maintainer: Bernard Gray <bernard.gray@gmail.com>
Build-Depends: cdbs, cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: sidux-art-wallpaper
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
