Source: sidux-art-wallpaper
Section: graphics
Priority: extra
Maintainer: Bernard Gray <bernard.gray@gmail.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: sidux-art-wallpaper
Architecture: all
Depends: sidux-art-wallpaper-tartaros
Conflicts: sidux-art-wallpaper (<= 0.0.0)
Description: sidux wallpaper virtual package
 Depepnds on wallpaper package for current release
